{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">TERRABKK Recommender System</h1>
    <div class="container text-center">
        <a class="btn btn-primary" href="upload-address-data" role="button">Upload address data</a>
        <a class="btn btn-primary" href="upload-pages-data" role="button">Upload page data</a>
        <a class="btn btn-primary" href="upload-txns-data" role="button">Upload transaction data</a>
        <a class="btn btn-primary" href="upload-places-data" role="button">Upload place data</a>
        <a class="btn btn-primary" href="upload-transits-data" role="button">Upload transit data</a>
        <div class="row">-</div>
        <a class="btn btn-warning btn-sm col-sm-8" href="settings" role="button">TERRARECS Settings</a><br><br>
    </div>
{% endblock %}
