{% extends 'base.html' %}

{% block content %}
    <div class="container main">
        <div class="jumbotron">
            <h1 class="display-4">TERRARECS</h1>
            <p class="lead">This is a demonstration of property post recommendation system.</p>
            <hr class="my-4">
            <a class="btn btn-main btn-lg" href="recommender" role="button">Recommend</a>
            <a class="btn btn-main btn-lg" href="upload_data" role="button">Upload data</a>
            <a class="btn btn-main btn-lg" href="setting" role="button">Setting</a>
        </div>
    </div>
{% endblock %}