{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center recs-head">Recommendation system</h1>
    <div class="card rscard">
        <div class="card-body text-center">
            <p>There are 3 types ofrecommendation system consists of ...</p>
            <a class="btn btn-recommend" href="default" role="button">Default</a>
            <a class="btn btn-recommend" href="params" role="button">With Parameters</a>
            <a class="btn btn-recommend" href="setting" role="button">With Setting</a>
        </div>
        <div class="card-body text-center">
            <a class="btn btn-back" href="/" role="button">Back to main</a>
        </div>
    </div>
{% endblock %}