{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center recs-head">Recommender settings</h1>
    <div class="card rscard">
        <div class="card-body text-center">
            <a class="btn btn-setting" href="add/" role="button">Add a setting</a>
            <a class="btn btn-back" href="/" role="button">Back to main</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Setting Name</th>
                <th scope="col">Type</th>
                <th scope="col">CB Weight</th>
                <th scope="col">CF Weight</th>
                <th scope="col">K</th>
                <th scope="col">Topn</th>
                <th scope="col">n_cb</th>
                <th scope="col">n_cf</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for setting in settings %}
            <tr>
                <td>{{ setting.setting_name }}</td>
                <td class="text-center">{{ setting.get_recs_type_display }}</td>
                <td class="text-center">{{ setting.cb_ensemble_weight }}</td>
                <td class="text-center">{{ setting.cf_ensemble_weight }}</td>
                <td class="text-center">{{ setting.k }}</td>
                <td class="text-center">{{ setting.topn }}</td>
                <td class="text-center">{{ setting.n_cb }}</td>
                <td class="text-center">{{ setting.n_cf }}</td>
                <td class="text-center">
                    <a href="edit/{{ setting.id }}" class="btn btn-edit-setting" role="button">Edit</a>
                </td>
                <td class="text-center">
                    <a href="delete/{{ setting.id }}" class="btn btn-danger" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}